.loaderWrapper {

  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #020617,
    #0f172a
  );

  gap: 20px;

  p {
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    letter-spacing: 1px;
  }
}


/* Animated Circle */

.loader {

  width: 70px;
  height: 70px;

  border-radius: 50%;

  border: 4px solid rgba(255,255,255,0.1);
  border-top: 4px solid #6366f1;

  animation: spin 1s linear infinite;

  box-shadow:
    0 0 25px rgba(99,102,241,0.6);
}


/* Animation */

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}